[mqtt]
broker = 127.0.0.1
port = 1883
user = your_mqtt_username
password = your_mqtt_password
base_topic = homeassistant

[ddp]
device_ip = 192.168.1.100
device_port = 4048

[light]
name = My DDP Light
unique_id = my_ddp_light_001
pixel_count = 100
