[mqtt]
broker = 127.0.0.1
port = 1883
user = your_mqtt_username
password = your_mqtt_password
base_topic = homeassistant

[light_living_room]
device_ip = 192.168.1.101
device_port = 4048
pixel_count = 100

[light_kitchen]
device_ip = 192.168.1.102
device_port = 4048
pixel_count = 50
